.pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    list-style-type: none;
}

.item {
    width: 360px;
    height: 260px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.pokemon-list .item.visible {
    opacity: 1;
    transform: translateY(0);
}

