.input-container {
    position: relative;
    width: 800px;
    margin-right: 80px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.input-container.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

input[type="text"] {
    width: 100%;
    padding: 10px 20px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 100px;
    outline: none;
    background-color: #F8F8F8;
}

.icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
